*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Backup/SOUNDING[[:space:]]ICE_2025-05-04_14_18.zip filter=lfs diff=lfs merge=lfs -text
Backup/SOUNDING[[:space:]]ICE_2025-05-04_14_18/VIDEO/SI_Landing_Page_msggt0.mp4 filter=lfs diff=lfs merge=lfs -text
