.home-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.video-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Centro absoluto: se centra vertical y horizontalmente */
.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Si deseas que el contenido tenga un fondo semitransparente, puedes conservarlo */
.home-content {
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  /* Sin fondo para que el título no tenga banda negra */
  background: none;
}

.titlehome {
  font-family: "Arial", sans-serif;
  font-style: normal;  
  font-weight: bolder;
  font-size: 17vw; /* Mantén el tamaño grande para el título */
  margin: 5px;
  line-height: 0.8;
  text-align: left;
   /* Ajusta el espacio entre líneas */
}

.description1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2vw; /* Tamaño más pequeño para la descripción */
  margin-top: 1rem;
  display: inline-block; /* Para que el fondo se ajuste al contenido */
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  text-align: justify;
  text-align: right;
  line-height: 1.25;

}
.description2 {
  font-family: "Montserrat2", sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.5vw; /* Tamaño más pequeño para la descripción */
  margin-top: 1rem;
  display: inline-block; /* Para que el fondo se ajuste al contenido */
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  text-align: justify;
  line-height: 1;
}
